<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/joshbolland" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/joshuabolland/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/joshbolland95" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Josh Bolland <i class="far fa-copyright"></i> 2020
  </div>
</div>
