.btn-black {
  transition: background 0.3s ease;
  color: #242038;
  letter-spacing:1px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  padding:14px 11px;
  margin: 3px;
}

.btn-black:hover {
  background: #242038;
  color: white;
  transition: background 0.3s ease;
}
